body {
  background: #fff0f0;
  color: #222;
}

.loadingSplash {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: orange;
  color: white;
  font-size: 2em;
  font-weight: 600;
}

#blacklist {
  width: 200px;
  height: 300px;
}
