*, *:before, *:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

.about-body {
  padding: 1em;
}

.about-body a {
  color: #ff6600;
}

#blacklist {
  margin: 0.5em;
  height: 15em;
}

#blacklist > textarea {
  width: 100%;
  height: 100%;
  resize: none;
}

body {
  background: #f6f6ef;
  color: black;
  width: 800px;
  margin: 8px;
}

#brand {
  font-weight: 600;
}

.diet {
  font-family: script;
}

html {
  background: #fff;
  display: flex;
  justify-content: center;
  font-family: Verdana, Geneva, sans-serif;
}

.loadingSplash {
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-weight: 600;
}

#nav {
  background: #ff6600;
  padding: 0.25em;
  padding-right: 0.33em;
  display: flex;
  justify-content: space-between;
}

.nav-links a {
  margin-left: 0.5em;
}

.noscript {
  padding: 1em 3em 1em 3em;
}

.noscript a {
  color: #ff6600;
}

#stories {
  padding: 0.5em;
  padding-top: 1em;
}

#stories:last-child {
  margin-bottom: 0;
}

.story {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

.storyTitleLine {
  margin-bottom: 0.1em;
}

.storyTitle:visited {
  color: gray;
}

.storyUrl {
  margin-left: 0.33em;
  font-size: 0.75em;
  color: gray;
}

.storyDetails {
  font-size: 0.67em;
  color: gray;
  display: flex;
}

.storyDetails > * {
  margin-left: 0.33em;
}

.storyDetails > a {
  color: gray;
}

.storyDetails > a:hover {
  text-decoration: underline;
}

@media (max-width: 800px) {
  html {
    font-size: 16px;
  }

  body {
    margin: 0;
    width: 100%;
  }

  #nav {
    display: flex;
    align-items: center;
    padding: 0.5em;
    padding: 0.5em;
    height: 3em;
  }

  #stories {
    padding: 1em;
  }

  .story {
    margin-bottom: 1em;
    line-height: 1.25em;
  }

  .storyTitleLine {
    font-size: 110%;
  }

  .storyDetails {
    font-size: 0.8em;
  }
}
